{% extends "mtg/base.html" %}
{% block title %}Card Databse!{% endblock %}
{% block content %}
<h1>Some Cool Cards I Like!</h1>
{% for card in cards %}
<h2>
    <!-- Basically: Looping thru the list established in the view and 
    printing the url to view details on the cards this page extends base.html-->
    <a href="{{ card.get_absolute_url }}">
        {{ card.name }}
    </a>
</h2>
{{ card.body|truncatewords:30|linebreaks }}
{% endfor %}
{% include "pagination.html" with page=page_obj %}
{% endblock %}