<!-- Extends base so we can keep the same header/footer-->
{% extends "mtg/base.html" %}
{% block title %}Share a Card{% endblock %}
{% block content %}
{% if sent %} <!--Using if sent to determine the page shown. If an email was sent, show this-->
<h1>Thanks for your submission!</h1>
<p>
    {{ card.name }} was successfully sent to no one!
</p>
{% else %} <!-- If an email wasn't sent, give the user the option to-->
<h1>Attempt to share {{ card.name }} by e-mail</h1>
<form method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Send e-mail">
</form>
{% endif %}
{% endblock %}